@use "sass:color";

$primary-color: blue;

body {
  background-color: $primary-color;
}

$primary-color: #79a691;
$secondary-color: #a38bc8;
$font-stack: Arial, sans-serif;
$padding: 10px;
$border-radius: 3px;

nav {
    background: $primary-color;
  
    ul {
      list-style: none;
  
      li {
        display: inline-block;
  
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
}
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  @mixin button-style($bg-color) {
    background: $bg-color;
    padding: $padding;
    border-radius: $border-radius;
    color: white;
    text-transform: uppercase;
    
    &:hover {
     background: color.scale($bg-color, $lightness: -10%);
    
}

.container {
    @include flex-center;
}
  
  .btn {
    @include button-style($primary-color);
}
  
}